// Affix definitions for loot_core
// These modifiers can be applied to items
(
    prefixes: [
        (
            name: "Sharp",
            effect: AddDamage(3),
            weight: 100,
        ),
        (
            name: "Sturdy",
            effect: AddDefense(2),
            weight: 100,
        ),
        (
            name: "Flaming",
            effect: AddDamage(5),
            weight: 50,
        ),
        (
            name: "Reinforced",
            effect: AddDefense(4),
            weight: 50,
        ),
    ],
    suffixes: [
        (
            name: "of Power",
            effect: AddDamage(2),
            weight: 100,
        ),
        (
            name: "of Protection",
            effect: AddDefense(2),
            weight: 100,
        ),
        (
            name: "of the Bear",
            effect: AddDamage(4),
            weight: 30,
        ),
        (
            name: "of the Turtle",
            effect: AddDefense(5),
            weight: 30,
        ),
    ],
)
